@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --green: #00b159;
    --orange: #f37735;
    --red: #d11141;
    --white: rgb(239, 239, 239);
    --light-gray: rgb(192, 192, 192);
    --dark-gray: rgb(93, 93, 93);
    --darker-gray: rgb(39, 39, 39);
}

body {
    box-sizing: border-box;
    background-color: #536872;
    color: var(--white);
    font-family: 'DM Sans', sans-serif;
}

.main-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.title {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 36px;
    text-align: center;
}

.option-select {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.option-select > button {
    margin: 10px 5px;
    padding: 5px 5px;
    font-family: inherit;
    font-size: 20px;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.045s;
}

.beginner-difficulty,
.intermediate-difficulty,
.expert-difficulty {
    color: var(--dark-gray);
    border: 2px solid var(--dark-gray);
}

.beginner-difficulty:hover {
    color: var(--green);
    border: 2px solid var(--green);
}

.intermediate-difficulty:hover {
    color: var(--orange);
    border: 2px solid var(--orange);
}

.expert-difficulty:hover {
    color: var(--red);
    border: 2px solid var(--red);
}

.beginner-difficulty:active {
    background-color: var(--green);
    color: var(--white);
}

.intermediate-difficulty:active {
    background-color: var(--orange);
    color: var(--white);
}

.expert-difficulty:active {
    background-color: var(--red);
    color: var(--white);
}

.info-and-options {
    display: flex;
    column-gap: 50px;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin: 25px 0px;
}

#test-mode-checkbox {
    margin-left: -43px;
    height: 20px;
    width: 20px;
}

#grid {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white);
    z-index: 0;
}

#grid tr td {
    border: 1px solid var(--white);
    background-color: var(--light-gray);
    font-family:'Bruno Ace SC', cursive;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    z-index: 1;

    animation-name: cellAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

#grid tr td.active {
    /* box-sizing: border-box; */
    background-color: var(--dark-gray);
    /* border: 1px solid var(--darker-gray); */
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
}

#grid tr td.mine {
    background-color: var(--red);
}

#grid tr td.flag {
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

#grid tr td > img {
    overflow: hidden;
    max-width: 80%;
    max-height: 100%;
}

@keyframes cellAnimation {
    0% {
        transform: scale(0.3);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}

.game-over-message {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}